.dice-div {
  width: 40px;
    height: 40px;
  border: 2px solid #000;
  border-radius: 10px;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  background-color: rgb(254, 246, 230);
}
.dice_container {
  display: flex;
  flex-wrap: wrap;
  
}
.dice_master {
  width: 430px;
  height: 200px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 375px;
  margin-top: 70px;
  position: absolute;
  z-index: 5;
}
.selection_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.number_container {
  display: flex;
  justify-content: space-evenly;
}
.animated-dice {
  animation: vortex 2s 1 linear;
  animation-fill-mode: forwards;
  transform: matrix(1, 0, 0, 1, 0, 0);
  opacity: 1;
}
.dice_face {
  height: 35px;
  width: 35px;
}

.dice-btn {
  padding: 0.5em 1em;
  background-color: #ccc;
  border: 1px solid #333;
  border-radius: 4px;
  margin-bottom: 20px;
}
.roll-btn {
  width: 285px;
}
.dice-btn.selected {
  background-color: #333;
  color: #fff;
}

@keyframes vortex {
    0%, 60% { animation-timing-function: cubic-bezier(0.3, 0, 1, 0.7); }
    0% { opacity: 0; transform: rotate(-1800deg) scale(0.3); }
    60% { opacity: 1; transform: rotate(0deg) scale(1); }
    100% { opacity: 1; transform: rotate(0deg) scale(1); }
}
