.fenetre {
  position: absolute;
  background-color: #f3dec8;
  border: 1px solid #d3d3d3;
  text-align: center;
  width: 250px;
  height: 450px;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #000;
  box-shadow: inset -1px -1px 0 0 #c8c2ba, inset 1px 1px 0 0 #fff,
    5px 5px 0 #0003;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__top {
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20px;
    z-index: 10;
  }
  &__close {
    height: 15px;
    width: 15px;
    margin-right: 6px;
    margin-top: 4px;
    display: flex;
    justify-content: center;
    color: black;
  }
  &__interior {
    display: block;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
    width: 97.5%;
    height: 420px;
    margin: 6px;
    border: 1px solid #000;
  }
  &__name {
    color: black;
    padding: 3px 0 0 5px;
    height: 10px;
    width: fit-content;
    font-family: "Chicago", sans-serif;
    font-size: smaller;
  }
  &__footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 5px 5px 0 5px;
  }
  &__option {
    margin: 0 1px 0 0;
    width: 30%;
    height: 100px;
    background-color: #fbefe2;
    border: 1px solid #000;
  }
}
.artiste {
  margin: 10px 0 10px 23px;

  &__box {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 90%;
  }
}
.trackBox {
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  opacity: 60%;
  z-index: 0;
  margin-left: 3%;
  margin-right: 3%;
  overflow: hidden;
}
.track {
  margin-top: 3px;
  width: 90%;
  color: white;
  display: inline-block;
  white-space: nowrap;
  animation: scroll-text 10s linear infinite;
}
@keyframes scroll-text {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
marquee {
  margin-top: 3px;
  width: 90%;
  color: white;
}
input {
  margin-top: 5px;
}
.allContainer {
  display: flex;
  flex-direction: column;
  height: 60px;
  justify-content: space-between;
}
.waves {
  position: relative;
  width: 99%;
  height: 15vh;
  margin-bottom: -2px; /*Fix for safari gap*/
  min-height: 10px;
  max-height: 60px;
}
.cdPlayer {
  width: 250px;
  height: 210px;
  position: relative;
}
.compactDisq {
  width: 230px;
  height: 230px;
  position: absolute;
  margin-left: -46%;
    margin-top: 2%;

  &__active {
    width: 230px;
    height: 230px;
    position: absolute;
    margin-left: -46%;
    margin-top: 2%;
    animation-name: Rotate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 0.9s;
  }
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes Rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1turn);
  }
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}
