.Cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 400px;
    padding-top: 420px;
    position: absolute;
    z-index: 5;
    margin-left: 65px;
  
    .Card {
        width: fit-content;
      height: 150px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      margin: 0 5px;
      transition: all 0.2s ease-in-out;
      margin-left: -50px;
    margin-top: -64px;
  
      &.chosen {
        transform: scale(2.1);
    position: absolute;
    margin-left: 490px;
    margin-bottom: 80px;
    image-rendering: optimizeQuality;
      }
  
      img {
        height: 100%;
        border-radius: 10px;
      }
    }
  }